# Ignore everything in this directory
*
# Except this file
!.gitignore
!2023_01_08_12h48min42sec_nice_limit_cycle_x_time_series_complete_rnn_mouse_control_rnn.json
!2023_01_08_12h48min42sec_nice_limit_cycle_time_points_complete_rnn_mouse_control_rnn.json
!2023_01_17_15h57min58sec_n_80_redx_time_series_reduced_rnn_mouse_control_rnn.json
!2023_01_17_15h57min58sec_n_80_time_points_reduced_rnn_mouse_control_rnn.json
!2023_01_08_12h48min42sec_nice_limit_cycle_redx_time_series_reduced_rnn_mouse_control_rnn.json
!2023_01_08_12h48min42sec_nice_limit_cycle_time_points_reduced_rnn_mouse_control_rnn.json
!2023_01_10_11h44min17sec_n_100_redx_time_series_reduced_rnn_mouse_control_rnn.json
!2023_01_10_11h44min17sec_n_100_time_points_reduced_rnn_mouse_control_rnn.json

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*vector_field_errors/2022_07_12_15h51min54sec_1000_samples_frobenius_shrinkage_RMSE_vector_field_rnn_mouse_control_rnn.json
!*vector_field_errors/2022_07_12_15h51min54sec_1000_samples_frobenius_shrinkage_upper_bound_RMSE_vector_field_rnn_mouse_control_rnn.json