# Ignore everything in this directory
*

# Except this file
!.gitignore
!2023_01_10_15h50min51sec_n_9_2000pts_wilson_cowan_celegans_signed_parameters_dictionary.json
!2023_01_10_15h50min51sec_n_9_2000pts_x_forward_equilibrium_points_list_complete_wilson_cowan_celegans_signed.json
!2023_01_10_15h50min51sec_n_9_2000pts_x_backward_equilibrium_points_list_complete_wilson_cowan_celegans_signed.json
!2023_01_10_15h50min51sec_n_9_2000pts_redx_forward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json
!2023_01_10_15h50min51sec_n_9_2000pts_redx_backward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json
!2023_01_18_14h22min06sec_n_30_2000ptsx2_redx_forward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json
!2023_01_18_14h22min06sec_n_30_2000ptsx2_redx_backward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json
!2023_01_18_14h23min54sec_n_80_2000ptsx2_redx_forward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json
!2023_01_18_14h23min54sec_n_80_2000ptsx2_redx_backward_equilibrium_points_list_reduced_wilson_cowan_celegans_signed.json

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*vector_field_errors/2022_03_25_14h45min47sec_1000_samples_RMSE_vector_field_wilson_cowan_celegans_signed.json
!*vector_field_errors/2022_03_25_14h45min47sec_1000_samples_upper_bound_RMSE_vector_field_wilson_cowan_celegans_signed.json
