# Ignore everything in this directory
*
# Except this file
!.gitignore
!2023_01_25_09h18min08sec_n_76_50coupling_300CI_microbial_gut_parameters_dictionary.json
!2023_01_24_09h21min20sec_n_76_50coupling_100init_3h30_microbial_gut_parameters_dictionary.json
!2023_01_24_15h54min17sec_only_complete_dyn_50coupling_100CI_x_forward_equilibrium_points_list_complete_microbial_gut.json
!2023_01_24_15h54min17sec_only_complete_dyn_50coupling_100CI_x_backward_equilibrium_points_list_complete_microbial_gut.json
!2023_01_24_09h21min20sec_n_76_50coupling_100init_3h30_redx_forward_equilibrium_points_list_reduced_microbial_gut.json
!2023_01_25_09h18min08sec_n_76_50coupling_300CI_redx_backward_equilibrium_points_list_reduced_microbial_gut.json
!2023_01_24_09h24min00sec_n_203_50coupling_100CI_6h30_redx_forward_equilibrium_points_list_reduced_microbial_gut.json
!2023_01_24_09h24min00sec_n_203_50coupling_100CI_6h30_redx_backward_equilibrium_points_list_reduced_microbial_gut.json
!2023_01_24_09h30min53sec_n_735_50coupling_100CI_9h30_redx_forward_equilibrium_points_list_reduced_microbial_gut.json
!2023_01_24_09h30min53sec_n_735_50coupling_100CI_9h30_redx_backward_equilibrium_points_list_reduced_microbial_gut.json

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*vector_field_errors/2022_07_31_10h04min31sec_1000_samples_max_x_Px_RMSE_vector_field_microbial_gut.json
!*vector_field_errors/2022_07_31_10h04min31sec_1000_samples_max_x_Px_upper_bound_RMSE_vector_field_microbial_gut.json
