# Ignore everything in this directory
*
# Except this file
!.gitignore

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/microbial_data/2023_01_25_09h18min08sec_n_76_50coupling_300CI_microbial_gut_parameters_dictionary.json