# Ignore everything in this directory
*
# Except this file
!.gitignore
!2023_01_14_15h10min58sec_n_1_1000pts_qmf_sis_high_school_proximity_parameters_dictionary.json
!2023_01_14_15h10min58sec_n_1_1000pts_x_equilibrium_points_list_complete_qmf_sis_high_school_proximity.json
!2023_01_14_15h10min58sec_n_1_1000pts_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json
!2023_01_14_15h28min20sec_n_7_1000pts_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json
!2023_01_14_15h28min41sec_n_104_1000pts_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json
!2023_01_20_15h43min51sec_at_trans_n_1_qmf_sis_high_school_proximity_parameters_dictionary.json
!2023_01_20_15h43min51sec_at_trans_n_1_x_equilibrium_points_list_complete_qmf_sis_high_school_proximity.json
!2023_01_20_15h43min51sec_at_trans_n_1_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json
!2023_01_20_15h44min33sec_at_trans_n_7_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json
!2023_01_20_15h45min01sec_at_trans_n_104_redx_equilibrium_points_list_reduced_qmf_sis_high_school_proximity.json

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*vector_field_errors/2022_03_29_11h27min22sec_1000_samples_randomD_RMSE_vector_field_qmf_sis_high_school_proximity.json
!*vector_field_errors/2022_03_29_11h27min22sec_1000_samples_randomD_upper_bound_RMSE_vector_field_qmf_sis_high_school_proximity.json